.container {
  display: flex;
  align-items: center;
}
.card {
  width: 480px;
  font-weight: bold;
}
.box {
  text-align: center;
}
.text {
  font-weight: normal;
}
img {
  margin-left: 10px;
}
.list {
  padding-left: 30px;
  font-weight: normal;
}
